body {
    margin: 0;
}

.nav a {
    text-decoration: none;
    text-align: justify;
    padding: 10px 30px;
    float: right;
    color: white;
    margin-top: 20px;
}

.nav a:hover {
    color: white;
    background-color: chocolate;
    display: block;
}

@media (max-width:970px) {
    .nav-content {
        display: none;
    }
    .nav-icon {
        max-width: 20%;
        max-height: 20%;
    }
    .cen {
        padding: 0px;
    }
    .aboutus-h1 {
        font-size: 5;
    }
    .vision {
        background-color: gray;
    }
    h4.courses {
        padding: 1px;
        margin: 2px 2px;
    }
}

.home {
    margin: 0;
    max-width: 100%;
    background: url(https://smazee-development-labs.github.io/srimuthaiah/img/bg2.png) center center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}

.cen {
    display: block;
    flex: auto;
    text-align: center;
    padding: 100px;
}

.cen-h1 {
    margin-top: -30px;
    color: red;
    font-family: 'Bree Serif', serif;
    text-align: center justify;
    font-weight: 500;
    font-size: 50;
}

.cen h4 {
    margin-top: -40px;
    color: white;
}

.cen h2 {
    color: black;
}

@media (max-width:970px) {
    .cen-h1 {
        font-size: 40;
        text-align: center justify;
    }
}

.social {
    margin-top: 23px;
}

.social ul {
    list-style-type: none;
}

.social i {
    font-size: 30px;
    padding: 5px 10px;
    color: black;
}

.social i:hover {
    color: blue;
}

hr {
    margin: 0px 300px;
}

.aboutus-h1 {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 50;
    letter-spacing: 10px;
}

.aboutus-p {
    padding: 10px;
    margin: 5px 10px;
    word-spacing: 5;
}

.vision {
    margin: 0;
    max-width: 100%;
    background: url(https://smazee-development-labs.github.io/srimuthaiah/img/vision-mission-banner.jpg) center center;
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}

@media (max-width:970px) {
    .vision {
        background: linear-gradient( red, #f06d06);
    }
}

.vision-head {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 50;
    letter-spacing: 10px;
}

.vision-ul {
    color: aliceblue;
}

.mission-head {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 50;
    letter-spacing: 10px;
}

.missionh1-ul {}

.mission {
    margin: 0;
    max-width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}

h1.courses {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 35;
    letter-spacing: 4px;
}

h4.courses {
    padding: 10px;
    margin: 0px 200px;
}

@media (max-width:970px) {
    h4.courses {
        padding: 1px;
        margin: 2px 4px;
    }
}

.cards-view {
    margin: 50px 250px;
}

@media (max-width:970px) {
    .cards-view {
        margin: 20px 20px;
        align-content: center center;
    }
}

.card,
.hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 350px;
    max-width: 325.22px;
    overflow: hidden;
    border-radius: 5px;
}

.card-img-1 {
    max-height: 200px;
}

.card-h2 {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.card-ul {
    list-style-type: none;
    list-style: none;
    display: inline;
}

.card-li {
    display: inline;
    list-style-type: none;
    list-style: none;
}

.card p {
    margin-top: -1px;
}

.card-a {
    text-decoration: none;
    color: black;
}
